* {
    // border: solid 1px black;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar cards";
    height: 100vh;
    background-color: #FFDDA3;
}

input, textarea, select, #add {
    background-color: #FFEED1;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3px;
}

textarea {
    resize: none;
}

.cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    grid-template-rows: repeat( auto-fill, minmax(30ch, 1fr) );
    gap: 5px;
}

.cards > * {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.76);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #8F5A00;
}

.cards h2, p, span {
    padding-bottom: 3px;
}

.removeButton {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 5px;
    border: none;
    background-color: transparent;
    color: red;
    font-size: 1.5rem;
    -webkit-text-stroke: .5px black;
}

.sidebar, .cards, .header {
    padding: 10px;
}

.card {
    display: flex;
    // max-height: 200px;
    // max-width: 200px;
    flex-direction: column;
    border: solid 1px blue;
    overflow: hidden;
}