* {
    // border: solid 1px black;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar cards";
    height: 100vh;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3px;
}

textarea {
    resize: none;
}

.cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    grid-template-rows: repeat( auto-fill, minmax(30ch, 1fr) );
    gap: 5px;
}

.sidebar, .cards, .header {
    padding: 10px;
}

.card {
    display: flex;
    // max-height: 200px;
    // max-width: 200px;
    flex-direction: column;
    border: solid 1px blue;
    overflow: hidden;
}